@model IEnumerable<LabBigSchool_DuongGiaBao.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
            {
                <li>
                    @course.dateTime - @course.Lecturer.Name
                </li>
            }
    </ul>
    <ul class="course">
        @foreach (var course in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.dateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.dateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details">
                        <span class="Lecturer">
                            @course.Lecturer.Name
                        </span>
                        <span class="category">
                            @course.category.name
                        </span>
                    </div>
                </li>
            }
    </ul>
</div>